<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Car Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
  <script src="curd2.js"></script>
  <style type="text/css">
    .container{
    	margin-: auto;
        width: 90%;
		
    }
	.form-group{
	    width: 100%;
	}
	.result{
	text-align: center;
	border-top-style:solid;
	}
	
       
   </style>
 </head>
 <body ng-app="myCar" ng-controller="carController">
   <div class="container">
   <div class = "panel panel-default">
     <div class = "panel-heading">
     <h2>Taxi Details</h2>
     </div>
     <form role="form">
     <div class = "panel-body">
	  <div class="row"><div class="col-xs-4" style="border-right-style: solid">
	  
       <div class="form-group">
	     <label for="cName">Car Name:</label>
         <input type="text" class="form-control" ng-model="cName" placeholder="Enter Cär Name" >
       </div>
	   
       <div class="form-group">
         <label for="cType">Car Type:</label>
         <input type="text" class="form-control" ng-model="cType" placeholder="Enter Car type" >
       </div>
	   
       <div class="form-group">
         <label for="cModel">Model No:</label>
         <input type="text" class="form-control" ng-model="cModel" placeholder="Enter Car Model" >
       </div>
	     <button type="button" class="btn btn-default" ng-click="addCar()">Add Car</button>
	   </div>
	   <div class="col-xs-8">
	       <table class="table table-striped">
            <thead>
             <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Model</th>
			  <th>Operation</th>
             </tr>
            </thead>
            <tbody>
             <tr ng-repeat="car in carDetail">
              <td>{{car.name}}</td>
              <td>{{car.type}}</td>
              <td>{{car.model}}</td>
			  <td>
			    <button type="button" class="btn btn-default" ng-click="view($index)" >View</button>
			    <button type="button" class="btn btn-default" ng-click="deletes($index)">Remove</button>
	            <button type="button" class="btn btn-default" ng-click="edit(car,$index)">Update</button>
			  </td>
             </tr>
            </tbody>
           </table>
	    </div>
	   </div>
      </div>	
   </form>
     <div style="padding:30px;color:grey;border:1px solid;" ng-show="viewdisplay">
       
       <p><b>NAME:</b> {{data.name}}</p>
       <p><b>TYPE: </b>{{data.type}}</p>
       <p><b>MODEL:</b>{{data.model}}</p>
     </div>
</body>
</html>
